.product-btn {
    border-radius: 0%;
    cursor: pointer;
    border: 2px solid black;

    text-align: center;
    outline: none;
    background-size: cover;
    padding-bottom: 10%;
    margin-top: 3%;
    margin-right: 1%;
    margin-left: 1%;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
    float: left;
}
.product-price {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 3%;
    left: 38%;
}
.category-btn {
    border-radius: 0%;
    cursor: pointer;
    border: 2px solid black;

    text-align: center;
    outline: none;
    background-size: cover;
    padding-bottom: 10%;
    margin-top: 3%;
    margin-right: 1%;
    margin-left: 1%;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
    float: left;
}

.numpad-btn {
    border-radius: 0%;
    cursor: pointer;
    border: 2px solid black;
    padding: 6px 12px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    outline: none;
    background-size: cover;
    margin-top: 1%;
    margin-left: 1%;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
    background-color: white;
    float: left;
    width: 31%;
}

.confirm-numpad-btn {
    border-radius: 0%;
    padding: 6px 12px;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    outline: none;
    background-size: cover;
    margin-top: 1%;
    margin-left: 1%;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
    background-color: #5cb85c;
    float: left;
    width: 63%;
}

.product-name {
    padding-top: 5%;
    word-break: break-all;
    font-weight: bold;
}
.category-name {
    padding-top: 5%;
    word-break: break-all;
    font-weight: bold;
}
#append-categories {
    flex-grow: 1;
}
#append-products {
    flex-grow: 1;
}

#numpad-input {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 70%;
    margin-left: 3%;
    margin-top: 1%;
}
#modal-numpad-input {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 70%;
    margin-left: 3%;
    margin-top: 1%;
}

#delete-numpad {
    width: 24%;
    color: black;
    margin-top: 1%;
    vertical-align: unset;
    outline: none;
    font-size: 30px;
    font-weight: bold;
}
#modal-delete-numpad {
    width: 24%;
    color: black;
    margin-top: 1%;
    vertical-align: unset;
    outline: none;
    font-size: 30px;
    font-weight: bold;
}

.product-price-div {
    font-size: 15px;
    color: red;
    font-weight: bold;
    position: absolute;
    bottom: 1px;
    width: 90%;
}
.left-side {
    padding-right: 0.5% !important;
    padding-left: 0.5% !important;
    background-color: lightgrey;
    padding-bottom: 20px;
    border-right: 5px solid;
    border-left: 5px solid black;
}
.category-shadows {
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.57);
}
#categories-div {
    min-height: 100%;
    height: 100%;
}
#products-div {
    min-height: 100%;
    height: 100%;
}
#cart-div {
    min-height: 100%;
    height: 100%;
}
.left-page-arrows {
    height: 25px;
    width: 80px;

    padding-left: 1%;
    float: left;
}
.right-page-arrows {
    height: 25px;
    width: 80px;
    transform: rotate(180deg);
    float: right;

    padding-left: 1%;
}
.group-title-div {
    width: 100%;
    height: 100%;
    padding-left: 1% !important;
    padding-right: 1% !important;
    text-align: center;
}
.paginator-button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    background-color: lightgrey;
    border: none;
    outline: none;
}
#categories_paginator {
    text-align: center;
}
#products_paginator {
    text-align: center;
}
#cart-header-div {
    width: 100%;
    background: black;
    color: white;
    overflow-x: hidden;
    margin: 0 0;
    text-align: center;
}
#append-cart {
    height: 300px;
}
.cart-product-quantity-div {
    float: left;
    border-left: 10px solid black;
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;
    border-bottom: 3px solid black;
    width: 15%;
}
.cart-product-name-div {
    float: left;

    border: 1.5px solid black;
    border-bottom: 3px solid black;
    width: 60%;
}
.cart-product-price-div {
    float: left;
    border: 1.5px solid black;
    border-bottom: 3px solid black;
    width: 23.5%;
}
.cart-product-quantity-div-append {
    float: left;
    height: 35px;
    border-left: 10px solid black;
    border-bottom: 3px solid black;
    width: 15%;
    background-color: white;
}
.cart-product-name-div-append {
    float: left;
    height: 35px;
    border-bottom: 3px solid black;
    width: 60%;
    background-color: white;
}
.cart-product-price-div-append {
    float: left;
    height: 35px;
    border-right: 5px solid black;
    border-bottom: 3px solid black;
    width: 23.5%;
    background-color: white;
}
.cart-product-text {
    font-weight: bold;
    text-align: center;
}
.cart-product-quantity-text {
    font-weight: bold;
    text-align: center;
    margin-top: 3px !important;
    font-size: 16px;
}
.cart-product-name-text {
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    word-break: break-all;
}
.cart-product-price-text {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin-top: 3px !important;
    color: red;
}
#append-cart-div {
}
#abilities-buttons-div {
    width: 100%;
    overflow-x: hidden;
    margin: 0 0;
    border-left: 10px solid black;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-right: 5px solid black;
    height: 50px;
}
.ability-btn {
    height: 100%;
    width: 12.5%;
    border: 0.5px solid black;
    color: black !important;
    padding: 0;
    float: left;
    outline: none;
}
#cash-card-btn {
    width: 37%;
    font-weight: bold;
}
#sum-order-div {
    width: 100%;
    overflow-x: hidden;
    margin: 0 0;
    border-left: 10px solid black;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-right: 5px solid black;
    height: 30px;
    background-color: black;
    color: white;
}
.order-stats {
    width: 50%;
    float: left;
    text-align: center;
}
#send-order-btn-div {
    overflow-x: hidden;
    margin: 0 0;
    width: 100%;
    border-left: 10px solid black;

    border-right: 5px solid black;
}
#send-order-btn {
    width: 100%;
    background-color: #25c6e4;
    border-color: #25c6e4;
    outline: none;
    padding: 0;
    float: left;
    font-size: 30px;
    font-weight: bold;
}
